body {
	background-image:url('images/stripe.png');
}

.wrapper {
	display:inline-block;
	position:absolute;
    top:40%;
    left:40%;
}

.formheader {
	font-family: 'Permanent Marker',cursive;
	font-size: 2em;
	color: white;
	background-color: #41ACFF;
	padding: 5px 30px;
	border-radius: 25px 25px 0px 0px;
	box-shadow: 10px 10px 10px black;
}

.formbody {
	background-color: white;
	font-family: sans-serif;
	padding: 15px;
	box-shadow: 10px 10px 10px black;
}

.fieldlabel {
	display: inline-block;
	width: 100px;
	font-weight: bold;
	line-height: 1.5em;
}

#agreetext {
	font-size: .75em;
}

.submit {
	margin: 25px auto 0px auto;
	display: block;
	font-weight: bolder;
	border: 2px solid gray;
	border-radius: 5px;
	padding: 2px 8px;
}

.form_error {
	border: 1px solid red;
	border-radius: 4px;
	padding: 2px 2px;
}